/* Background, foreground */
@define-color col-1 #0f0f0f;
@define-color col-2 #ececec;
/* Focused tag background */
@define-color col-3 #1d1d1d;
/* Network, cpu modules alt foreground */
@define-color col-4 #c0c0c0;
/* Urgent color, mode foreground */
@define-color col-5 #ff5555;
/* Workspace normal foreground */
@define-color col-6 #3d3d3d;
/* Hover */
@define-color col-7 #8e8c8d;

* {
    border: none;
    border-radius: 0;
    /* Required ttf-nerd-fonts-symbols-mono package */
    font-family: "IBM Plex Sans", "Symbols Nerd Font Mono";
    font-weight: normal;
    font-size: 16px;
    min-height: 0;
}

#waybar {
    background: @col-1;
}

#workspaces button,
#workspaces button.focused,
#workspaces button.urgent {
    min-width: 15px;
}

#workspaces button {
    color: @col-6;
}

#workspaces button:hover {
    color: @col-2;
    background-color: @col-3;
}

#workspaces button.focused {
    color: @col-2;
    background-color: @col-1;
}

#workspaces button.urgent {
    color: @col-5;
    background-color: @col-1;
}

#mode {
    color: @col-5;
    margin: 0 10px;
}

#network,
#cpu {
    color: @col-4;
    margin: 0 10px;
}

#pulseaudio,
#memory,
#clock {
    color: @col-2;
    margin: 0 10px;
}

#network.disconnected {
    color: @col-5;
}

#pulseaudio.muted {
    color: @col-5;
}

#pulseaudio:hover,
#network:hover,
#memory:hover,
#cpu:hover {
    color: @col-7;
}

#tray {
    margin: 0 10px;
}
